_/

__pycache__/
*.pyc
*.gz
*.xz
*.info
*.pdf
*.ps
*.dvi

*~
\#*\#
.\#*
*.bak
*.swp

/dist/*/*/*
!/dist/*/*/PKGBUILD

/ponymenu.aux
/ponymenu.cp
/ponymenu.cps
/ponymenu.fn
/ponymenu.ky
/ponymenu.log
/ponymenu.pg
/ponymenu.toc
/ponymenu.tp
/ponymenu.vr
/ponymenu.op
/ponymenu.ops
/ponymenu.pgs
/ponymenu.vrs

