; You may want to create a personal menu in $XDG_CONFIG_HOME/ponymenu/ponymenu, or just ~/.ponymenu

(
	; using xdg-open to determine Web browser, only listed in graphical environments
	((name arch linux) (inner
		((name aur) (req x) (cmd xdg-open https://aur.archlinux.org) (desc Archlinux AUR))
		((name bugs) (req x) (cmd xdg-open https://bugs.archlinux.org) (desc Archlinux Bugtracker))
		((name developers) (req x) (cmd xdg-open http://www.archlinux.org/developers/) (desc Archlinux development team))
		((name documentation) (req x) (cmd xdg-open https://wiki.archlinux.org/index.php/Official_Arch_Linux_Install_Guide) (desc Archlinux Documentation))
		((name donate) (req x) (cmd xdg-open http://www.archlinux.org/donate/) (desc Archlinux Donations))
		((name forum) (req x) (cmd xdg-open https://bbs.archlinux.org) (desc Archlinux Forum))
		((name homepage) (req x) (cmd xdg-open http://www.archlinux.org) (desc Archlinux homepage))
		((name schwag) (req x) (cmd xdg-open http://www.zazzle.com/archlinux/) (desc Archlinux goodie shopping))
		((name svn) (req x) (cmd xdg-open http://projects.archlinux.org/svntogit/) (desc Archlinux SVN))
		((name wiki) (req x) (cmd xdg-open https://wiki.archlinux.org) (desc Archlinux Wiki))
	))
	
	; using lynx, only listed in headless environments
	((name arch linux) (req tty) (inner
		((name aur) (cmd lynx https://aur.archlinux.org) (desc Archlinux AUR))
		((name bugs) (cmd lynx https://bugs.archlinux.org) (desc Archlinux Bugtracker))
		((name developers) (cmd lynx http://www.archlinux.org/developers/) (desc Archlinux development team))
		((name documentation) (cmd lynx https://wiki.archlinux.org/index.php/Official_Arch_Linux_Install_Guide) (desc Archlinux Documentation))
		((name donate) (cmd lynx http://www.archlinux.org/donate/) (desc Archlinux Donations))
		((name forum) (cmd lynx https://bbs.archlinux.org) (desc Archlinux Forum))
		((name homepage) (cmd lynx http://www.archlinux.org) (desc Archlinux homepage))
		((name schwag) (cmd lynx http://www.zazzle.com/archlinux/) (desc Archlinux goodie shopping))
		((name svn) (cmd lynx http://projects.archlinux.org/svntogit/) (desc Archlinux SVN))
		((name wiki) (cmd lynx https://wiki.archlinux.org) (desc Archlinux Wiki))
	))
	
	((name accessories) (inner
		((name calculator) (req x) (cmd mate-calc) (desc Perform arithmetic, scientific or financial calculations))
		((name character map) (req x) (cmd gucharmap) (desc Insert special characters into documents))
		((name dictionary) (req x) (cmd mate-dictionary) (desc Check word definitions and spellings in an online dictionary))
		((name emacs) (cmd bash -c 'export TERM=xterm ; emacs -nw ; echo -e \\\\e[?8c') (desc Edit text))
		((name emacs-x11) (req x) (cmd emacs) (desc Edit text))
		((name pluma) (req x) (cmd pluma) (desc Edit text files))
		((name meld) (req x) (cmd meld) (desc Compare and merge your files))
		((name seahorse) (req x) (cmd seahorse) (desc Manage your passwords and encryption keys))
		((name discs) (req x) (cmd gnome-disks) (desc Manage Drives and Media))
	))
	
	((name education) (inner
		((name avogadro) (req x) (cmd avogadro) (desc Advanced molecular editor))
		((name cantor) (req x) (cmd cantor) (desc KDE Frontend to mathematical applications))
		((name kalgebra) (req x) (cmd kalgebra) (desc Mathematical Expression Solver and Plotter))
		((name kalzium) (req x) (cmd kalzium) (desc KDE Periodic Table of Elements))
		((name kig) (req x) (cmd kig) (desc Explore Geometric Constructions))
		((name kmplot) (req x) (cmd kmplot) (desc Function Plotter))
		((name kstars) (req x) (cmd kstarts) (desc Desktop Planetarium))
		((name ktouch) (req x) (cmd ktouch) (desc A program that helps you to learn and practice touch typing))
		((name marble) (req x) (cmd marble) (desc Desktop Globe))
		((name rocs) (req x) (cmd rocs) (desc Graph Theory Tool for Professors and Students))
		((name step) (req x) (cmd step) (desc Simulate physics experiments))
	))
	
	((name emulators) (inner
		((name desmume) (req x) (cmd desmume) (desc Nintento DS emulator))
		((name dosbox) (req x) (cmd dosbox) (desc An emulator to run old DOS games))
		((name fceux) (req x) (cmd fceux) (desc Fast and ultra-compatible NES/Famicom emulator))
                ((name gens/gs) (req x) (cmd gens) (desc Sega Genesis, Sega CD, and Sega 32X emulator))
                ((nmae kega fusion) (req x) (cmd kega-fusion) (desc An emulator of classic Sega consoles))
                ((name lxdream) (req x) (cmd lxdream) (desc Dreamcast Emulator))
		((name nestopia) (req x) (cmd nestopia) (desc Accurate NES Emulator))
		((name virtualbox) (req x) (cmd VirtualBox) (desc Run several virtual systems on a single host computer))
		((name qemu launcher) (req x) (cmd qemu-launcher) (desc Manage virtual machine configurations))
		((name qtemu) (req x) (cmd qtemu) (desc Frontend to QEMU virtual machine monitor))
	))
	
	((name graphics) (inner
		((name blender) (req x) (cmd blender) (desc 3D modeling, animation, rendering and post-production))
		((name dia) (req x) (cmd dia) (desc Edit your Diagrams))
		((name gimp) (req x) (cmd gimp) (desc Create images and edit photographs))
		((name inkscape) (req x) (cmd inkspace) (desc Create and edit Scalable Vector Graphics images))
		((name libreoffice draw) (req x) (cmd libreoffice --draw) (desc Create and edit drawings, flow charts, and logos by using Draw))
		((name simple scan) (req x) (cmd simple-scan) (desc Scan Documents))
		((name xsane) (req x) (cmd xsane) (desc Acquire images from a scanner))
		((name eye of mate) (req x) (desc Browse and rotate images) (cmd bash -c 'echo Enter filename && readlink file && eom "$file"'))
		((name atril) (req x) (desc View multi-page documents) (cmd bash -c 'echo Enter filename && readlink file && atril "$file"'))
		((name okular) (req x) (desc Dokument viewer) (cmd bash -c 'echo Enter filename && readlink file && okular "$file"'))
		((name xpdf) (req x) (desc Adobe PDF files) (cmd bash -c 'echo Enter filename && readlink file && xpdf "$file"'))
		((name djview4) (req x) (desc DjVu viewer) (cmd bash -c 'echo Enter filename && readlink file && djview4 "$file"'))
		((name jfbview) (req tty) (desc Image and document view for the TTY) (cmd bash -c 'echo Enter filename && readlink file && djview4 "$file"'))
	))
	
	((name office) (inner
		((name abiword) (req x) (cmd abiword) (desc Compose, edit, and view documents))
		((name gnumeric) (req x) (cmd gnumeric) (desc Calculation, Analysis, and Visualisation of Information))
		((name libreoffice base) (req x) (cmd libreoffice --base) (desc Manage databases, create queries and reports to track and manage your information by using Base))
		((name libreoffice calc) (req x) (cmd libreoffice --calc) (desc Perform calculations, analyze information and manage lists in spreadsheets by using Calc))
		((name libreoffice impress) (req x) (cmd libreoffice --impress) (desc Create and edit presentations for slideshows, meeting and Web pages by using Impress))
		((name libreoffice math) (req x) (cmd libreoffice --math) (desc Create and edit scientific formulas and equations by using Math))
		((name libreoffice writer) (req x) (cmd libreoffice --writer) (desc Create and edit text and graphics in letters, reports, documents and Web pages by using Writer))
	))
	
	((name programming) (inner
		((name data display debugger) (req x) (cmd ddd) (desc Graphical debugger frontend))
		((name octave) (req x) (cmd octave) (desc Scientific Computing using GNU Octave))
	))
	
	((name other) (inner
		((name audacity) (req x) (cmd audacity) (desc Record and edit audio files))
		((name pony creator) (req x) (cmd pony-creator) (desc Create your own pony character inspired by My Little Pony: Friendship is Magic))
		((name sage notebook) (req x) (cmd /opt/sage/sage -notebook) (desc SAGE notebook))
	))
	
	((name games) (inner
		((name 0 a.d.) (req x) (cmd 0ad) (desc A real-time strategy game of ancient warfare))
		((name alien arena) (req x) (cmd alienarena) (desc Multiplayer retro sci-fi deathmatch))
		((name alien blaster) (req x) (cmd alienblaster.sh) (desc Action-loaded 2D arcade shooter game))
		((name battle tanks!) (req x) (cmd btanks) (desc A 2D arcade tank battle!))
		((name blinken) (req x) (cmd blinken) (desc Memory enhancement game))
		((name bomber) (req x) (cmd bomber) (desc Arcade bombing game))
		((name bzflag) (req x) (cmd bzflag) (desc A free multiplayer 3D tank battle game))
		((name dragon hunt) (req x) (cmd dragonhunt) (desc An extensible graphical RPG written in Python))
		((name epiphany) (req x) (cmd epiphany-game) (desc Boulder Dash clone))
		((name extreme tux racer) (req x) (cmd etracer) (desc Open source racing game featuring Tux the Linux Penguin))
		((name freeciv) (req x) (cmd freeciv-gtk2) (desc Turn-based strategy game inspired by the history of human civilization))
		((name freeciv modpack installer) (req x) (cmd freeciv-modpack)) ; (desc Download and install add-ons for Freeciv)
		((name freeciv server) (req x) (cmd freeciv-server)) ; (desc Turn-based strategy game inspired by the history of human civilization)
		((name frogatto) (req x) (cmd frogatto) (desc Old-school 2D platformer))
		((name frozen bubble) (req x) (cmd /usr/bin/vendor_perl/frozen-bubble) (desc Strategic aiming game))
		((name kapman) (req x) (cmd kapman) (desc Eat pills escaping ghosts))
		((name kbounce) (req x) (cmd kbounce) (desc KDE Bounce Ball Game))
		((name kbreakout) (req x) (cmd kbreakout) (desc A breakout like game for KDE))
		((name kgoldrunner) (req x) (cmd kgoldrunner) (desc A game of action and puzzle-solving))
		((name konquest) (req x) (cmd konquest) (desc Galactic strategy KDE game))
		((name ksirk) (req x) (cmd ksirk) (desc Strategy KDE game))
		((name ksirk skin editor) (req x) (cmd ksirkskineditor)) ; (desc Skin editor for KsirK)
		((name ksnakeduel) (req x) (cmd ktron -snake) (desc A race in hyperspace))
		((name kspaceduel) (req x) (cmd kspaceduel) (desc KDE Space Game))
		((name liquid war) (req x) (cmd liquidwar) (desc A unique multiplayer wargame))
		((name gnibbles) (req x) (cmd gnibbles) (desc Guide a worm around a maze))
		((name pingus) (req x) (cmd pingus) (desc A free Lemmings clone))
		((name secret maryo chronicles) (req x) (cmd smc) (desc Secret Maryo Chronicles))
		((name supertux 2) (req x) (cmd supertux2) (desc Play a classic 2D platform game))
		((name supertuxkart) (req x) (cmd /usr/bin/supertuxkart --log=file) (desc A kart racing game))
		((name granatier) (req x) (cmd granatier) (desc Bomberman clone))
		((name kolf) (req x) (cmd kolf) (desc Miniature golf-like game))
		((name kollision) (req x) (cmd kollision) (desc A simple ball dodging game))
		((name rocks\'n\'diamonds) (req x) (cmd rocksndiamonds) (desc Arcade game))
		((name xtux) (req x) (cmd xtux) (desc A Gauntlet-style arcade game for X11 with multiplayer mode))
	))
	
	((name logic games) (inner
		((name card games) (inner
			((name aisleriot solitaire) (req x) (cmd sol) (desc Play many different solitaire games))
			((name freecell solitaire) (req x) (cmd sol --freecell) (desc Play the popular FreeCell card game))
			((name kpatience) (req x) (cmd kpat) (desc KDE Patience Game))
			((name lskat) (req x) (cmd lskat) (desc LSkat: A desktop card game))
		))
		((name combinations games) (inner
			((name katomic) (req x) (cmd katomic) (desc KDE Atomic Entertainment Game))
			((name kblackbox) (req x) (cmd kblackbox) (desc Find the balls hidden in the black box by shooting laser beams!))
			((name klotski) (req x) (cmd gnotski) (desc Slide blocks to solve the puzzle))
			((name kmines) (req x) (cmd kmines) (desc KMines is a classic minesweeper game))
			((name knetwalk) (req x) (cmd knetwalk) (desc KNetWalk, a game for system administrators))
			((name kubrick) (req x) (cmd kubrick) (desc A 3-D game based on Rubik\'s Cube))
			((name lightsoff) (req x) (cmd lightsoff) (desc Turn off all the lights))
			((name mines) (req x) (cmd gnomine) (desc Clear hidden mines from a minefield))
			((name sudoku) (req x) (cmd gnome-sudoku) (desc Test your logic skills in this number grid puzzle))
			((name swell foop) (req x) (cmd swell-foop) (desc Clear the screen by removing groups of coloured and shaped tiles))
			((name tetravex) (req x) (cmd gnotravex) (desc Complete the puzzle by matching numbered tiles))
		))
		((name competition games) (inner
			((name bovo) (req x) (cmd bovo) (desc KDE Five in a Row Board Game))
			((name chess) (req x) (cmd glchess) (desc Play the classic two-player boardgame of chess))
			((name five or more) (req x) (cmd glines) (desc Remove coloured balls from the board by forming lines))
			((name four-in-a-row) (req x) (cmd gnect) (desc Make lines of the same colour to win))
			((name iagno) (req x) (cmd iagno) (desc Dominate the board in a classic version of Reversi))
			((name kajongg) (req x) (cmd kajongg) (desc The ancient Chinese board game for 4 players))
			((name kfourinline) (req x) (cmd kfourinline) (desc KFourInLine: Two player board game))
			((name kigo) (req x) (cmd kigo) (desc KDE Go Board Game))
			((name kreversi) (req x) (cmd kreversi) (desc KDE Reversi Board Game))
			((name ksquares) (req x) (cmd ksquares) (desc Take it in turns to draw lines. If you complete a squares, you get another go.))
			((name naval battle) (req x) (cmd kbattleship) (desc The KDE ship sinking game))
		))
		((name deterministic games) (inner
			((name killbots) (req x) (cmd killbots) (desc A KDE game of killer robots and teleportation))
			((name kjumpingcube) (req x) (cmd kjumpingcube) (desc Tactical one or two player game))
			((name klickety) (req x) (cmd klickety) (desc A little game about balls and how to get rid of them))
			((name robots) (req x) (cmd gnobots2) (desc Avoid the robots and make them crash into each other))
			((name shisen-sho) (req x) (cmd kshisen) (desc A KDE game similar to Mahjongg))
			((name palapeli) (req x) (cmd palapeli) (desc KDE Jigsaw Puzzle Game))
		))
		((name stokastic games) (inner
			((name kblocks) (req x) (cmd kblocks) (desc A falling blocks game for KDE))
			((name kdiamond) (req x) (cmd kdiamond) (desc KDiamond, a three-in-a-row game))
			((name kiriki) (req x) (cmd kiriki) (desc A Yahtzee dice game for KDE))
			((name kmahjongg) (req x) (cmd kmahjongg) (desc Mahjongg Solitaire for KDE))
			((name kolor lines) (req x) (cmd klines) (desc A little game about balls and how to get rid of them))
			((name mahjongg) (req x) (cmd gnome-mahjongg) (desc Disassemble a pile of tiles by removing matching pairs))
			((name quadrapassel) (req x) (cmd quadrapassel) (desc Fit falling blocks together))
			((name tali) (req x) (cmd gtali) (desc Beat the odds in a poker-style dice game))
		))
	))
	
	((name system tools) (inner
		((name disc usage analyser) (req x) (cmd mate-disk-usage-analyzer) (desc Check directory sizes and available disc space))
		((name htop) (cmd htop) (desc Show System Processes))
		((name log file viewer) (req x) (cmd mate-system-log) (desc View or monitor system log files))
		((name manage printing) (req x) (cmd xdg-open http://localhost:631/) (desc CUPS Web Interface))
		((name manage printing) (req tty) (cmd lynx http://localhost:631/) (desc CUPS Web Interface))
		((name mateconf editor) (req x) (cmd mateconf-editor) (desc Directly edit your entire configuration database))
		((name power statistics) (req x) (cmd mate-power-statistics) (desc Observe power management))
		((name ups monitor) (req x) (cmd gapcmon) (desc 'Gtk/GUI Monitor program for (U)ninterruptible (P)ower (S)upply under the management of the APCUPSD.sourceforge.net package, also available at gapcmon.sourceforge.net')) ; UPS is awesome!
	))
	
	((name monitor settings) (req x) (inner
		((name arandr) (cmd arandr) (desc Advanced screen settings))
		((name monitors) (cmd mate-display-properties) (desc Basic screen settings))
		((name resolution: 1600⋅1200) (cmd xrandr --output DVI-0 --mode 1600x1200 --rate 85 --primary --output VGA-0 --mode 1600x1200 --rate 75 --left-of DVI-0) (Set resolution to 1600⋅1200 on both monitors))
		((name resolution: 1280⋅1024) (cmd xrandr -s 1280x1024) (Set resolution to 1280⋅1024 and disable secondary monitor))
		((name resolution: 1024⋅768) (cmd xrandr -s 1024x768) (Set resolution to 1024⋅768 and disable secondary monitor))
		((name resolution: 800⋅600) (cmd xrandr -s 800x600) (Set resolution to 800⋅600 and disable secondary monitor))
		((name resolution: 640⋅480) (cmd xrandr -s 640x480) (Set resolution to 640⋅480 and disable secondary monitor))
		((name fix gamma and brightness) (cmd xrandr --output DVI-0 --gamma 0.97:0.97:0.97 --brightness 1.00 --output VGA-0 --gamma 0.99:0.99:0.99 --brightness 0.85) (desc Restore calibrated monitor settings))
		((name darken screens) (cmd xrandr --output DVI-0 --gamma 0.97:0.97:0.97 --brightness 0.50 --output VGA-0 --gamma 0.99:0.99:0.99 --brightness 0.43) (desc Darken both screens, with calibrations))
		((name darken primary screens) (cmd xrandr --output DVI-0 --gamma 0.97:0.97:0.97 --brightness 0.50 --output VGA-0 --gamma 0.99:0.99:0.99 --brightness 0.85) (desc Darken the primary screens, with calibrations))
		((name darken secondary screens) (cmd xrandr --output DVI-0 --gamma 0.97:0.97:0.97 --brightness 1.00 --output VGA-0 --gamma 0.99:0.99:0.99 --brightness 0.43) (desc Darken the secondary screens, with calibrations))
		
	))
	
	((name --edit--) (cmd bash -c '$EDITOR /etc/ponymenu') (desc Edit this menu))
)

